<!DOCTYPE html>
<html>
<head>
    <title>grounded</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link type="text/css" rel="stylesheet" href="../stylesheets/grounding.css">
    <script src="../js/grounding.js"></script>

    <!--Google Charts API -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <% include ../partials/header.ejs %>
  <base href="/">
</head>
<body>
  <% include ../partials/nav.ejs %>
  <!--My left nav bar -->
  <div id="mySidenav" class="sidenav">
      <h3>Children</h3>
      <a ><% children.forEach(function(value) { %>
          <a onclick="getGrounding('<%= value.name %>')"><%= value.name %></a>
        <% }) %> </a>
    </div>
  <!--Google Chart Area-->
  <div id="chart_div"></div>

  <!--Child stats Area-->
  <div id="num_groundings_card"></div>
  <div id="grounding_duration"></div>

  <!--Card area-->
  <div class="card-container">
    <div class="row" id="groundingCards">
      
  </div>
  <script>
    function getGrounding(name) {
      //AJAX call for name
      $.get({
        url: `/grounding/${name}`,
        success: handleGrounding
      })
    }

    function handleGrounding(child) {
      //append response to groundingCards using jquery
      console.log("handleGrounding");
      $('#groundingCards').append(`
        <div class="class=col-xs-6" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">${child.groundingCount}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="class=col-xs-6 col-md-offset-2" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Grounded Duration</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="class=col-xs-6 col-md-offset-2" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Grounded Reason</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
      </div>
      `)
    }
  </script>
</body>
</html>