<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <base href="/">
  <link type="text/css" rel="stylesheet" href="/public/stylesheets/dashboard.css"> 
</head>
<body>
    <% include ../partials/nav.ejs %>

</body>
</html>
